<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Text</th>
      <th>Categories</th>
      <th *ngIf="visible">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <th>{{ post.id }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.text }}</td>
      <td>
        <mat-chip-list  *ngFor="let category of post.categories">
        <mat-chip>{{ category.name }}</mat-chip>
        </mat-chip-list>
      </td>
      <td *ngIf="visible">
          <button mat-button color="primary" (click)="editPost(post.id)">Edit</button>
          <button mat-button color="accent" (click)="deletePost(post.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>