<div class="login-page">
    <div class="form">
      <h2>Signup</h2>
      <form [formGroup]="registerForm" (submit)="onSignup(signupForm)"  *ngIf="!isLoading"  class="login-form">
          <div class="form-group">
              <input type="text" formControlName="email"  placeholder="E-Mail"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
              <input type="text" formControlName="role"  placeholder="Role"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" />
              <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                  <div *ngIf="f.role.errors.required">role is required</div>
              </div>
          </div>
          <div class="form-group">
              <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
          </div>
          <div class="form-group">
              <input placeholder="Confirm Password" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
          </div>
          <button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
        </form>
    </div>
  </div>